*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  padding: 10px;
  background-color: aquamarine;
}
.navbar{
  margin: 30px auto;
  max-width: 1100px;
}
.navbar nav{
    display: flex;
    justify-content: center;
}
nav .items{
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content:space-around;
}
nav .items .item{
 padding: 7px 25px;
 font-size: 18px;
 font-weight: 500;
 color: rgb(98, 26, 98);
 border: 2px solid rgb(138, 37, 163);
 border-radius: 50px;
 cursor: pointer;
 transition: all 0.3s ease;
}
nav .items .active,


nav .items .item:hover{
  color: rgb(238, 224, 241);
  background-color: rgb(241, 13, 146);
}
.photos{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  
}
.photos img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid;
  
}
.photos .image{
  overflow: hidden;
  padding:7px;
 
  width: calc(100% / 4);

}
.photos .image.hide{
  display: none;
}

.photos .image.show{
  animation: animate 0.4s ease;
}
@keyframes animate{
  0%{
      transform: scale(0.5);
  }
  100%{
      transform: scale(1);
  }
}

.photos .image span{
  display: flex;
  width: 100%;
}
.photos .image img{
  width: 100%;
  vertical-align:middle;
  transition: all 0.3 ease;
}
.photos .image:hover img{
  transform: scale(1.1);
}
.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.9);
  background: rgb(255, 251, 251);
  max-width: 600px;
  width: 100%;
  z-index:5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0px 5px 5px 5px;
  box-shadow: 0px 0px 15px black;
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%,-50%) scale(1);

}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 13px 15px 13px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.preview-box .details .title p{ 
  margin-left: 5px;
  font-weight: 500;
}
.details .icon{
  color: rgb(60, 30, 190);
  font-size: 22px;
  cursor: pointer;
}
.preview-box .image-box{
 display: flex;
 width: 100%;
}
.image-box img{
  width:100%;
  height: 400px;
  border-radius: 0px 0px 3px 3px;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index:2;
  display: none;
  background: rgba(0,0,0,0.4);
}
@media(max-width:1000px){
  .photos .image{
      width: calc(100% / 4);
  
  }
}
@media(max-width:800px){
  .photos .image{
      width: calc(100% / 2);   
  }
}
@media(max-width:700px){
  nav .items{
      max-width: 600px;
  }
  nav .items .item{
      padding: 7px 15px;
  }
}
@media(max-width:600px){
  nav .items{
      flex-wrap: wrap;
      justify-content: center;
  }
  nav .items .item{
      padding: 7px 15px;
  }
  .photos .image{
      width: 100%;
  }
}